<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

<ul>
  <li *ngFor="let person of personDetails">
    <!-- {{person | json}} -->
    <h3>{{person.name}} - {{person.address}} - {{person['age limit']}} </h3>

    <yuj-profile [personName]="person.name"></yuj-profile>
  </li>
</ul>

<!-- 
<h2>
  Name person : {{personDetails[2].name }}
</h2>
<p>
  Adresss: {{ personDetails[2].address }}
  <span>Age Limit: {{ personDetails[2]['age limit'] }} </span>
</p> -->






<!-- <yuj-profile [personName]="'aaa shelake'" ></yuj-profile>
  <yuj-profile [personName]="'fdfdf shelake'" ></yuj-profile>
  <yuj-profile [personName]="'bbb shelake'" ></yuj-profile> -->