<div class="topnav">
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/dashboard">Dashboard</a>
  <!-- <a routerLink="/login">Login</a> -->

  <a routerLink="/ticket">Support Ticket</a>
  <a routerLink="/templates">Email Templates</a>
  <a routerLink="/users">User</a>
  <a routerLink="/support-panel">lazyL-Support-Panel</a>
  <a routerLink="/admin-panel">lazyL-Admin-Panel</a>
  <a mat-button routerLink="/login" *ngIf="!isloggedIn()">
    Login
  </a>
  <a mat-button routerLink="/login" *ngIf="isloggedIn()" (click)="logoutUser()">
    Logout
  </a>

  <a mat-button routerLink="/register" *ngIf="!isloggedIn()">
    Register
  </a>



  <!-- <a><button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </a> -->
</div>

<div>
  Latest Count in application {{notificationHoder$ | async }}
</div>
<!-- {{locations | json}} -->