
  
<h2>User Login !</h2>
<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
    {{loginForm.value | json}}

    <div class="form-group">
        <label>User Name</label>
        <input placeholder="Please enter your user name" formControlName="uname" type="text" class="form-control"
            required minlength>

            <div class="form-control-feedback"
            *ngIf="loginForm.controls.uname.errors && (loginForm.controls.uname.dirty || loginForm.controls.uname.touched)">
            <p *ngIf="loginForm.controls.uname.errors.required">Username is required</p>
            <p *ngIf="loginForm.controls.uname.errors.pattern"> Username must contain characters and Space</p>
            <p *ngIf="loginForm.controls.uname.errors.min">Username should be min of 6 length</p>
        </div>
    </div>

    <div class="form-group">
        <label>Password</label>
        <input placeholder="Please enter password" formControlName="passw" type="text" class="form-control" required>

        <div class="form-control-feedback"
            *ngIf="loginForm.controls.passw.errors && (loginForm.controls.passw.dirty || loginForm.controls.passw.touched)">
            <p *ngIf="loginForm.controls.passw.errors.required">Password is required</p>
           
        </div>
    </div>

    <div>
        <br>
        <br>
        <button (click)="submitMyform()" type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit
        </button>
    </div>
</form>