<span>profile</span>

<div class="card" style="width: 18rem;">
    <img [src]="profileUrl" class="card-img-top" alt="...">

    <div class="card-body">
        <h5 class="card-title">{{productConfigs.name}}</h5>
        <p class="card-text">{{productConfigs.shotDescription}}Some quick example text to build on the card title and
            make up the bulk of the card's content.</p>

        <ul>
            <li *ngFor="let feature of productConfigs.productFeatures">
                {{feature}}
            </li>
        </ul>
        <a href="#" class="btn btn-primary">{{productConfigs.linkTitle}}</a>
    </div>
</div>