<p>dashboard works!</p>
<!-- <yuj-panel-board></yuj-panel-board> -->
<div class="page-links">
    <h4 class="page-links__heading">Scroll directive</h4>
    <a class="page-links__link" yujScrollTo target="#resources"><b>Click to scroll Resources</b></a><br>
    <a class="page-links__link" yujScrollTo target="#profile"><b>Go to profile</b></a>
</div>

<div class="row">
    <div class="col">
        <yuj-price></yuj-price>
    </div>
    <div class="col">
        <yuj-usage></yuj-usage>
    </div>
    <div>
        <yuj-rx-usage></yuj-rx-usage>
    </div>
</div>


<!-- <yuj-registration></yuj-registration> -->
<yuj-list-profile></yuj-list-profile>




<div class="page-section" id="resources">

    <h2>Resources</h2>
    <p>Here are some links to help you get started:</p>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>


<div class="page-section" id="profile">

    <h2>Resources</h2>
    <p>Here are some links to help you get started:</p>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/profile.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>