<p>home works!</p>

<yuj-notification-manager></yuj-notification-manager>
<br>
<br>

<img [src]="'' | avatar:'../../assets/images/profile.jpg'" width="50" height="50"><br>
we have added above image by pipe
<br>
<div>
    {{myLongSting | truncate}}
</div>
<br><br>
<p [yujHighlight]="hColor" title="dsdsa">We are using highligh direcive pls mouse over</p>
<br>


<div *ngIf="false">
    <h2> We are inside if directive</h2>
    <img src="../../assets/images/profile.jpg" width="100" height="100">
</div>


<div *yujUnless="false">
    <h2> We come to structral directive</h2>
    <img [src]="imageUrl">
</div>


<div class="content" role="main" id="mainContent" yujReadTime [configuration]="myConfig" [color]="'yellow'"
    (readTimeCalculated)="calculatedTime($event)">
    <h4>Read time = {{ readTime }}</h4>
    <p class="text-content">
        Silent sir say desire fat him letter. Whatever settling goodness too and
        honoured she building answered her. Strongly thoughts remember mr to do
        consider debating. Spirits musical behaved on we he farther letters.
        Repulsive he he as deficient newspaper dashwoods we. Discovered her his
        pianoforte insipidity entreaties. Began he at terms meant as fancy.


        Be september it extensive oh concluded of certainty. In read most gate at
        body held it ever no. Talking justice welcome message inquiry in started of
        am me. Led own hearted highest visited lasting sir through compass his.
        Guest tiled he quick by so these trees am. It announcing alteration at
        matters.
        Be september it extensive oh concluded of certainty. In read most gate at
        body held it ever no. Talking justice welcome message inquiry in started of
        am me. Led own hearted highest visited lasting sir through compass his.
        Guest tiled he quick by so these trees am. It announcing alteration at
        matters.
        Be september it extensive oh concluded of certainty. In read most gate at
        body held it ever no. Talking justice welcome message inquiry in started of
        am me. Led own hearted highest visited lasting sir through compass his.
        Guest tiled he quick by so these trees am. It announcing alteration at
        matters.
        Be september it extensive oh concluded of certainty. In read most gate at
        body held it ever no. Talking justice welcome message inquiry in started of
        am me. Led own hearted highest visited lasting sir through compass his.
        Guest tiled he quick by so these trees am. It announcing alteration at
        matters.
        Be september it extensive oh concluded of certainty. In read most gate at
        body held it ever no. Talking justice welcome message inquiry in started of
        am me. Led own hearted highest visited lasting sir through compass his.
        Guest tiled he quick by so these trees am. It announcing alteration at
        matters.
    </p>
</div>